.kaufman {
    margin: 0;
    position: relative;
    z-index: -1;
    padding: 90px 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: #1f1f1f;
    overflow: hidden;
}