.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0 auto;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  /* выше установили ограничения для секции */
}

/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  height: 568px;
  width: 568px;
}
.two-columns {
  margin-top: 100px;
  display: flex;
  border: 2px solid #00ffff;
  height: 680px;
}
.Column_1 {
  width: 24%;
  border: 2px solid #00ffff;
  padding: 15px 15px 10px 150px;
}
.blue_text {
  color: #1E90FF;
  margin-top: 0;
  font-size: 28px;
  line-height: 44px;
}
.Column_2 {
  width: 76%;
  border: 2px solid #00ffff;
  padding: 15px 150px 10px 15px; 
}
.Text {
  margin-top: 0;
  margin-bottom: 50px;
  font-size: 28px;
  line-height: 44px;
}
p1{
  font-weight: bold;
}
.Descripcion_2 {
  margin-top: 100px;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  flex-direction: column;
  border: 2px solid #00ffff;
  height: 680px;
}
.Digits_1 {
  margin-top: 10px;
  border: 2px solid #00ffff;
  width: 20%;
  height: 310px;
}

/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.font-container_font_Inter {
  font-family: 'Inter';

}
.font-container_font_InterInter-Regular {
  font-family: 'Inter';
}